* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tiles {
    justify-content: space-between;
}

#about {
    width: 60%;
}
#about .tile-header {
    width: 100.3%;
}
#about .tile-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#about-img {
    width: 250px;
    max-width: 275px;
}

#about-content {
    display: flex;
    flex-direction: column;
}
#about-content p {
    width: 90%;
    height: 230px;
    padding: 5px;
    margin: 10px 10px 20px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#about-content a {
    background-color: #2c363f;
    border: 1px solid #2c363f;
    border-radius: 7px;

    align-self: flex-end;

    margin-right: 20px;
    padding: 5px 10px;

    text-decoration: none;
    color: #eaeaea;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 150px;

    transition: all 0.2s;
}
#about-content a:hover {
    background-color: #eaeaea;
    color: #2c363f;
    cursor: pointer;
}

#contact {
    min-width: 250px;
    width: 30%;
}
#contact .tile-body {
    width: 100%;

}
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7px;
    margin: 0;
    width: 100%;
}

#name-field, #email-field {
    width: 100%;
    position: relative;
}
#name-field {
    margin-bottom: 5px;
}
#name, #email {
    width: 80%;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #2c363f;
    background-color: #eaeaea;
    font-size: 16px;
}

#name-field label, #email-field label {
    width: 80%;
    text-align: left;
    position: absolute;
    top: 0;
    left: 11%;
    color: #2c363f;
    cursor: text;
    transition: 0.2s all;
}

#name:valid~label, #name:focus~label, #email:valid~label, #email:focus~label{
    font-size: 14px;
    top: -16px;
}

#comments-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;

    margin: 0 25px;
}
#comments-label {
    align-self: flex-start;
}
#comments {
    border: 1px solid #2c363f;
    border-radius: 7px;
    resize: none;
    height: 120px;
    background-color: #eaeaea;
    padding: 10px;
}

#submit {
    background-color: #2c363f;
    border-radius: 7px;
    border: 1px solid #2c363f;
    width: 120px;
    height: 40px;
    color: #eaeaea;
    transition: all 0.2s;

    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}
#submit:hover {
    background-color: #eaeaea;
    color: #2c363f;
    cursor: pointer;
}

#name:focus, #email:focus, #comments:focus {
    outline: none;
}





@media screen and (max-width: 920px) {
    #about {
        width: 55%;
    }
    #about-img {
        display: none;
    }
    #contact {
        min-width: 300px;
    }

}

@media screen and (max-width: 888px) {
    .tiles {
        margin-left: 0;
        margin-right: 0;
    }
    #about {
        width: 100%;

    }
    #about-content p {
        font-size: 20px;
    }
    #about-img {
        display: none;
    }

    #contact {
        min-width: 10px;
        width: 100%;
    }



    #episodes-gallery {
        width: 100%;
    }
}


@media screen and (max-width: 414px) {
    #episodes-gallery a {
        display: none;
    }
}