* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    width: 60%;
}
#about .tile-header {
    width: 100.3%;
}
#about .tile-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#about-img {
    width: 30%;
}

#about-content {
    display: flex;
    flex-direction: column;
}
#about-content p {
    width: 90%;
    height: 230px;
    padding: 5px;
    margin: 10px 10px 20px 10px;
    overflow: scroll;
}
#about-content a {
    background-color: #2c363f;
    border: 1px solid #2c363f;
    border-radius: 7px;

    align-self: flex-end;

    margin-right: 20px;
    padding: 5px 10px;

    text-decoration: none;
    color: #eaeaea;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 150px;

    transition: all 0.2s;
}
#about-content a:hover {
    background-color: #eaeaea;
    color: #2c363f;
    cursor: pointer;
}

#contact {
    min-width: 250px;
    width: 30%;
}
#contact .tile-body {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#contact-form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    margin: 10px 25px;

}

#name, #email {
    width: 100%;
    border: none;
    background-color: #eaeaea;
    border-bottom: 1px solid #2c363f;
    line-height: 25px;
    margin: 10px 25px;
    color: #2c363f;
    font-size: 16px;
    padding-left: 5px;
}

#comments-label {
    align-self: flex-start;
}
#comments {
    border: 1px solid #2c363f;
    border-radius: 7px;
    resize: none;
    height: 120px;
    background-color: #eaeaea;
}

#submit {
    background-color: #2c363f;
    border-radius: 7px;
    border: 1px solid #2c363f;
    width: 120px;
    height: 40px;
    color: #eaeaea;
    transition: all 0.2s;

    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}
#submit:hover {
    background-color: #eaeaea;
    color: #2c363f;
    cursor: pointer;
}

#name:focus, #email:focus, #comments:focus {
    outline: none;
}

#episodes-gallery {
    width: 100%;
}

#episodes-gallery .tile-header {
    width: 100.3%;
}

@media screen and (max-width: 920px) {
    #about {
        width: 50%;
    }
    #about-img {
        display: none;
    }
    #contact {
        min-width: 300px;
    }

}

@media screen and (max-width: 800px) {
    .tiles {
        margin-left: 0;
        margin-right: 0;
    }
    #about {
        width: 100%;

    }
    #about-content p {
        font-size: 20px;
    }
    #about-img {
        display: none;
    }

    #contact {
        min-width: 10px;
        width: 100%;
    }



    #episodes-gallery {
        width: 100%;
    }
}
