.tiles {
    justify-content: space-between;
}

#host-1, #host-2 {
    width: 44vw;

}

#host-3, #host-4, #host-5 {
    width: 30%;
}


.tile-body p {
    padding: 10px;
    font-size: 22px;
    height: 100%;
    overflow-y: scroll;
}
.host-pfp {
    position: relative;
    margin-right: 5px;
    float: left;

}
.host-pfp img {
    position: relative;
    height: 250px;
    display: inline-block;
    margin-right: 10px;
}

.wrap-body {
    position: relative;
    display: inline-block;
}
.wrap-body p {
    position: relative;

}
.host-pfp-smaller {
    position: relative;
}
.host-pfp-smaller img{
    display: inline;
    float: left;
    height: 175px;
}


.item div {
    background-size: cover;
}
.normal {
    background-image: url("../img/profile.jpg");
}
.invert {
    background-image: url("../img/inverted_profile.jpg");
}


@media screen and (max-width: 1240px) {
    #host-3, #host-4, #host-5 {
        width: 44vw;
    }
    .tiles {
        justify-content: space-evenly;
    }
    .host-pfp-smaller img{

        height: 250px;
    }


}
@media screen and (max-width: 1000px) {
    #host-1, #host-2, #host-3, #host-4, #host-5 {
        width: 100%;

    }
}

@media screen and (max-width: 500px) {
    .tile-body {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .host-pfp img {
        height: 200px;
    }

    .host-text-wrap {
        padding: 10px;
    }
}