/*changes spacing of tiles*/
.tiles {
    justify-content: space-between;
}

/*host tile widths*/
#host-1, #host-2 {
    width: 44vw;
}

#host-3, #host-4, #host-5 {
    width: 30%;
}

/*text formatting*/
.tile-body p {
    padding: 10px;
    font-size: 22px;
    height: 100%;
    overflow-y: scroll;
}

/*picture sizing and formatting*/
.host-pfp {
    height: 250px;
    margin-right: 5px;
}

.host-pfp-smaller {

    float: left;
    height: 175px;
}

/*images for guests*/
.item div {
    background-size: cover;
}

.normal {
    background-image: url("../img/profile.jpg");
}

.invert {
    background-image: url("../img/inverted_profile.jpg");
}


/*changes the designs responsively for different screen sizes*/
@media screen and (max-width: 1240px) {
    #host-3, #host-4, #host-5 {
        width: 44vw;
    }

    .tiles {
        justify-content: space-evenly;
    }


    .host-pfp-smaller {
        height: 250px;
    }


}

@media screen and (max-width: 1000px) {
    #host-1, #host-2, #host-3, #host-4, #host-5 {
        width: 100%;

    }
}

@media screen and (max-width: 500px) {
    .tile-body {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        align-items: center;
    }

    .host-pfp, .host-pfp-smaller {
        width: 150px;
    }

    .tile-body p {
        overflow-y: visible;
    }


}

@media screen and (max-width: 414px) {
    .tiles {
        margin-left: 0;
        margin-right: 0;
    }

    #gallery {
        width: 90%;
    }
}