body {
  background-color: #eaeaea;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

nav {
  margin: -8px;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: #374b4a;
  justify-content: space-between;
}

#left-nav {

  margin-left: 20px;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  color: #eaeaea;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 70px;
  width: 70%;
}

#left-nav img {
height: 70px;
}
#left-nav label {
  margin-left: 10px;
}
#left-nav label a:visited, #left-nav label a {
  color: #eaeaea;
  text-decoration: none;
}


#right-nav {
  margin: 0;
  width: 360px;

}
#right-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
#right-nav ul li {
  display: inline-block;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#right-nav ul li a {
  text-decoration:  none;
  padding: 23px 20px 24px 20px;
  color: #eaeaea;
  transition-duration: 0.3s;
}
#right-nav ul li a:hover {
  transition-duration: 0.3s;
  background-color: #2b3b3a;
  color: #eaeaea;
}
