.tiles {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-evenly;
}

.tile-div {
  text-align: center;
  height: 400px;
  background-color: #eaeaea;
  border: solid 5px #2c363f;
  border-radius: 30px;
}
.tile-header{
  height: 19%;
  background-color: #2c363f;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;

}
.tile-header h1 {
  margin: 0;
  padding-top: 9px;
  padding-left: 20px;
  position: relative;
  float: left;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #2c363f;
  -webkit-text-stroke: 0.1px #eaeaea;
  font-size: 36px;
  text-shadow: 2px 2px #000000;
}
.tile-body {
  display: flex;
  flex-direction: row;
}

.tile-body p{
  text-align: left;
  font-size: 24px;
}
